#Ejercicio 1 elaborado por James Jerry Linares Jimenez

In [4]:
import pandas as pd

linkToFile='https://github.com/CienciaDeDatosEspacial/code_and_data/raw/main/data/carbonEmi_downloaded.csv'
carbon=pd.read_csv(linkToFile)

#Crear un DataFrame para la base de datos de carbon de CIA

In [8]:
df=pd.DataFrame(carbon)

# Eliminar espacios en los valores de las celdas de texto

In [9]:
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

# Mantener solo las columnas solicitadas: name, value, date_of_information y region

In [10]:
df = df.drop(columns=[col for col in df.columns if col not in ['name', 'value', 'date_of_information', 'region']])

# Método 1: drop

In [11]:
df = df.loc[:, ['name', 'value', 'date_of_information', 'region']]

# Método 2: loc

In [12]:
df = df.iloc[:, [0, 1, 2, 3]]

# Método 3: iloc

In [13]:
df = df.rename(columns={'date_of_information': 'carbon_date'})

# Cambiar el nombre de la columna date_of_information a carbon_date

In [14]:
df.columns = df.columns.str.replace(' ', '')

# Eliminar espacios en los nombres de las columnas

In [15]:
df['value'] = df['value'].str.replace(r'[^0-9.]', '')

# Detectar y limpiar símbolos no numéricos en los datos numéricos

In [17]:
df['carbon_date'] = df['carbon_date'].str.extract(r'(\d{4})')

In [18]:
print(df)

                                              name             value  \
0                                            China  10,773,248,000.0
1                                    United States   5,144,361,000.0
2                                            India   2,314,738,000.0
3                                           Russia   1,848,070,000.0
4                                            Japan   1,103,234,000.0
..                                             ...               ...
213                                     Antarctica          28,000.0
214  Saint Helena, Ascension, and Tristan da Cunha          13,000.0
215                                           Niue           8,000.0
216                       Northern Mariana Islands               0.0
217                                         Tuvalu               0.0

    carbon_date                   region
0          2019  East and Southeast Asia
1          2019            North America
2          2019               South Asia
3          2019             Central Asia
4          2019  East and Southeast Asia
..          ...                      ...
213        2019               Antarctica
214        2019                   Africa
215        2019    Australia and Oceania
216        2019    Australia and Oceania
217        2019    Australia and Oceania

[218 rows x 4 columns]